@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

  #menteeTitle {
    text-align: center;
  }
  
  .exploreWrapper {
    margin: 0 6pt;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .listItemWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .listItemButtonWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 6pt 0;
  }
  .listItemButton {
    width: 90px;
    margin-right: 10px;
  }
  
  .menteeModal {
    background-color: rgb(236, 166, 73);
  }
  
  .menteeProfileWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Dashboard Menu */
  .menuIcon {
    position: fixed;
    bottom: 0px;
    width: 100%;
    transition: 'bottom 200ms linear';
  }

  .menuMove {
    position: fixed;
    bottom: 500px;
    width: 100%;
    transition: 'bottom 200ms linear';
  }

  .menuButton {
    width: 100%;
    background: #549bea;
    border: 1px solid #549bea;
    height: 3rem;
  }

  /* Profile Pages */
  .profile-item-title {
    font-weight: bold;
  }

  .profile-item {
    margin: .5rem 0;
  }

  .profile-pic {
    margin: 1rem 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .page-title {
    font-size: 1.5rem;
  }

  /* School List */
  .school-container span {
    font-weight: bold;
  }

  .school-container div {
    line-height: 2rem;
  }

   /* Village List */
   .village-container span {
    font-weight: bold;
  }

  .village-container div {
    line-height: 2rem;
  }

  .school-village-container {
    padding: 0 2rem;
  }

  /* All Forms */
  .form-container {
    display: flex;
    justify-content: center;
  }

  /* Mentee & Mentor Matching Component Lists Styling */
.miniListContainer {
  display: flex;
  flex-direction: row;
}

.miniList {
  width: 30%;
  padding: 20px;
  margin: 0px 20px;
}

.cascaderList {
  width: 30%;
  padding: 20px;
  margin: 0px 20px;
}

/* calendar styling */
.calStyling {
  margin: 20px auto 20px 0px;
  border: 2px solid orange;
  width: 95%;
  padding: 20px;
}
.events {
  list-style: none;
  margin: 0;
  padding: 0;
}
.events .ant-badge-status {
  /* overflow: hidden; */
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  margin: 5px 0px;
}

.events .ant-badge-status .ant-badge-status-text {
  font-size: 15px;
}

.notes-month {
  text-align: center;
  font-size: 28px;
}
.notes-month section {
  font-size: 28px;
}
